/**
 * Site header
 */

#view-git {
    position: absolute;
    top: 475px;
    left: 50%;
    transform: translateX(-50%);
    img {
        width: 36px;
        height: auto;
    }
    @media screen and (max-width: 450px) {
      top: 425px;
    }
}

#logo {
  margin: 170px auto 10px;
  @media screen and (max-width: 450px) {
    margin-top: 120px;
  }
  width: 150px;
  height: 250px;
}

.logo-desc {
  margin-top: 0;
  margin-bottom: 230px;
  text-align: center;
  color: #898989;
  font-size: 13px;
}

